In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
from glob import glob

In [30]:
base_path = "/mnt/c/Temp/analyses_friends_annotations/friends_annotations/annotation_results/TSVpyscene"
TSV_files= sorted(glob(os.path.join(base_path,'**','*.tsv'), recursive= True))
all_data=[]
sum = 0
for file in TSV_files:
    df = pd.read_csv(file, sep="\t")
    print(df.shape)
    episode = os.path.basename(file).replace('-Scenes.tsv', '')
    df['episode'] = episode
    sum += df.shape[0]
    all_data.append(df)
df_scenes = pd.concat(all_data, ignore_index=True)
print(sum, len(all_data), df_scenes.shape)

(200, 3)
(220, 3)
(203, 3)
(176, 3)
(197, 3)
(185, 3)
(178, 3)
(172, 3)
(169, 3)
(165, 3)
(181, 3)
(161, 3)
(182, 3)
(157, 3)
(177, 3)
(154, 3)
(182, 3)
(165, 3)
(196, 3)
(176, 3)
(174, 3)
(179, 3)
(187, 3)
(157, 3)
(167, 3)
(144, 3)
(149, 3)
(125, 3)
(151, 3)
(147, 3)
(172, 3)
(175, 3)
(175, 3)
(190, 3)
(170, 3)
(191, 3)
(155, 3)
(164, 3)
(151, 3)
(169, 3)
(162, 3)
(159, 3)
(167, 3)
(174, 3)
(165, 3)
(109, 3)
(186, 3)
(176, 3)
(212, 3)
(200, 3)
(192, 3)
(187, 3)
(166, 3)
(156, 3)
(168, 3)
(144, 3)
(156, 3)
(154, 3)
(188, 3)
(156, 3)
(169, 3)
(168, 3)
(188, 3)
(160, 3)
(153, 3)
(144, 3)
(166, 3)
(181, 3)
(163, 3)
(171, 3)
(195, 3)
(206, 3)
(206, 3)
(150, 3)
(177, 3)
(150, 3)
(132, 3)
(110, 3)
(146, 3)
(190, 3)
(176, 3)
(205, 3)
(151, 3)
(143, 3)
(164, 3)
(167, 3)
(157, 3)
(158, 3)
(173, 3)
(189, 3)
(166, 3)
(122, 3)
(155, 3)
(131, 3)
(151, 3)
(162, 3)
(136, 3)
(133, 3)
(179, 3)
(142, 3)
(124, 3)
(134, 3)
(155, 3)
(138, 3)
(164, 3)
(157, 3)
(181, 3)
(141, 3)
(134, 3)
(133, 3)
(150, 3)
(123, 3)
(172, 3)
(177, 3)
(127, 3)
(129, 3)
(137, 3)
(143, 3)
(140, 3)
(139, 3)
(131, 3)
(129, 3)
(135, 3)
(121, 3)
(127, 3)
(147, 3)
(162, 3)
(168, 3)
(131, 3)
(128, 3)
(148, 3)
(132, 3)
(163, 3)
(143, 3)
(146, 3)
(120, 3)
(149, 3)
(144, 3)
(146, 3)
(146, 3)
(143, 3)
(126, 3)
(162, 3)
(133, 3)
(185, 3)
(145, 3)
(166, 3)
(133, 3)
(165, 3)
(154, 3)
(153, 3)
(171, 3)
(162, 3)
(132, 3)
(160, 3)
(176, 3)
(189, 3)
(169, 3)
(175, 3)
(173, 3)
(171, 3)
(160, 3)
(172, 3)
(139, 3)
(153, 3)
(148, 3)
(177, 3)
(184, 3)
(155, 3)
(200, 3)
(159, 3)
(147, 3)
(172, 3)
(161, 3)
(162, 3)
(147, 3)
(188, 3)
(157, 3)
(169, 3)
(177, 3)
(134, 3)
(153, 3)
(172, 3)
(157, 3)
(146, 3)
(157, 3)
(170, 3)
(152, 3)
(173, 3)
(166, 3)
(181, 3)
(188, 3)
(180, 3)
(139, 3)
(219, 3)
(197, 3)
(157, 3)
(154, 3)
(202, 3)
(165, 3)
(196, 3)
(195, 3)
(174, 3)
(171, 3)
(193, 3)
(165, 3)
(165, 3)
(170, 3)
(193, 3)
(156, 3)
(199, 3)
(173, 3)
(197, 3)
(160, 3)
(214, 3)
(163, 3)
(166, 3)
(153, 3)
(187, 3)
(186, 3)
(155, 3)
(173, 3)
(182, 3)
(190, 3)
(180, 3)
(166, 3)
(185, 3)
(189, 3)
(188, 3)
(183, 3)
(130, 3)
(185, 3)
(197, 3)
(198, 3)
(190, 3)
(169, 3)
(165, 3)
(158, 3)
(175, 3)
(163, 3)
(207, 3)
(178, 3)
(198, 3)
(173, 3)
(193, 3)
(188, 3)
(202, 3)
(173, 3)
(211, 3)
(197, 3)
(199, 3)
(164, 3)
(200, 3)
(138, 3)
(203, 3)
(204, 3)
(176, 3)
(168, 3)
(195, 3)
(197, 3)
(174, 3)
(191, 3)
(226, 3)
(210, 3)
(187, 3)
(188, 3)
(183, 3)
(158, 3)
(167, 3)
(173, 3)
(195, 3)
(188, 3)
(189, 3)
(180, 3)
(183, 3)
(173, 3)
(240, 3)
(179, 3)
(176, 3)
(186, 3)
(194, 3)
(194, 3)
(210, 3)
(158, 3)
47659 284 (47659, 4)

In [31]:
df_scenes['scene_number'] = df_scenes.groupby('episode').cumcount() + 1
df_scenes

         onset  duration  onset_frame          episode  scene_number
0        0.000    17.986            1  friends_s01e01a             1
1       17.986     4.705          540  friends_s01e01a             2
2       22.691     4.238          681  friends_s01e01a             3
3       26.928     0.868          808  friends_s01e01a             4
4       27.796     2.269          834  friends_s01e01a             5
...        ...       ...          ...              ...           ...
47654  648.282    11.646        19429  friends_s06e24b           154
47655  659.927     6.407        19778  friends_s06e24b           155
47656  666.334     6.407        19970  friends_s06e24b           156
47657  672.741     6.574        20162  friends_s06e24b           157
47658  679.314     6.807        20359  friends_s06e24b           158

[47659 rows x 5 columns]

In [32]:
df_scenes = df_scenes.sort_values(by=['episode', 'onset_frame'])
df_scenes

         onset  duration  onset_frame          episode  scene_number
0        0.000    17.986            1  friends_s01e01a             1
1       17.986     4.705          540  friends_s01e01a             2
2       22.691     4.238          681  friends_s01e01a             3
3       26.928     0.868          808  friends_s01e01a             4
4       27.796     2.269          834  friends_s01e01a             5
...        ...       ...          ...              ...           ...
47654  648.282    11.646        19429  friends_s06e24b           154
47655  659.927     6.407        19778  friends_s06e24b           155
47656  666.334     6.407        19970  friends_s06e24b           156
47657  672.741     6.574        20162  friends_s06e24b           157
47658  679.314     6.807        20359  friends_s06e24b           158

[47659 rows x 5 columns]

In [34]:
df_scenes['global_scene_number'] = range(1, len(df_scenes) + 1)

In [35]:
df_scenes

,onset,duration,onset_frame,episode,scene_number,global_scene_number
0,0.000,17.986,1,friends_s01e01a,1,1
1,17.986,4.705,540,friends_s01e01a,2,2
2,22.691,4.238,681,friends_s01e01a,3,3
3,26.928,0.868,808,friends_s01e01a,4,4
4,27.796,2.269,834,friends_s01e01a,5,5
...,...,...,...,...,...,...
47654,648.282,11.646,19429,friends_s06e24b,154,47655
47655,659.927,6.407,19778,friends_s06e24b,155,47656
47656,666.334,6.407,19970,friends_s06e24b,156,47657
47657,672.741,6.574,20162,friends_s06e24b,157,47658
47658,679.314,6.807,20359,friends_s06e24b,158,47659

In [12]:
print(df_scenes.describe())

              onset      duration   onset_frame  global_scene_number
count  47659.000000  47659.000000  47659.000000         47659.000000
mean     339.900579      4.188695  10177.691727         23830.000000
std      205.274240      3.620343   6145.618798         13758.112576
min        0.000000      0.100000      1.000000             1.000000
25%      159.668000      1.902000   4782.000000         11915.500000
50%      334.051000      3.137000  10004.000000         23830.000000
75%      514.627500      5.239000  15414.000000         35744.500000
max      874.486000    138.879000  26208.000000         47659.000000

In [36]:
df_scenes[df_scenes['episode'] == 'friends_s01e01a']

,onset,duration,onset_frame,episode,scene_number,global_scene_number
0,0.000,17.986,1,friends_s01e01a,1,1
1,17.986,4.705,540,friends_s01e01a,2,2
2,22.691,4.238,681,friends_s01e01a,3,3
3,26.928,0.868,808,friends_s01e01a,4,4
4,27.796,2.269,834,friends_s01e01a,5,5
...,...,...,...,...,...,...
195,858.903,4.438,25741,friends_s01e01a,196,196
196,863.341,7.341,25874,friends_s01e01a,197,197
197,870.682,1.368,26094,friends_s01e01a,198,198
198,872.050,2.436,26135,friends_s01e01a,199,199
199,874.486,6.807,26208,friends_s01e01a,200,200

In [23]:
df_scenes.to_csv("scenes_data.tsv", sep="\t", index=False)