# Data preprocessing for pyscene data

Import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import friends_pack

Get all data into a pandas data frame

In [2]:


 df_scenes = friends_pack.tsv_to_df("../friends_annotations/annotation_results/TSVpyscene", '-Scenes.tsv')

Add rows that you need for analyses

In [3]:
#add scene number and global scene number
df_scenes['scene_number'] = df_scenes.groupby('episode').cumcount() + 1
df_scenes['global_scene_number'] = range(1, len(df_scenes) + 1)
df_scenes

,onset,duration,onset_frame,episode,scene_number,global_scene_number
0,0.000,17.986,1,friends_s01e01a,1,1
1,17.986,4.705,540,friends_s01e01a,2,2
2,22.691,4.238,681,friends_s01e01a,3,3
3,26.928,0.868,808,friends_s01e01a,4,4
4,27.796,2.269,834,friends_s01e01a,5,5
...,...,...,...,...,...,...
47654,648.282,11.646,19429,friends_s06e24b,154,47655
47655,659.927,6.407,19778,friends_s06e24b,155,47656
47656,666.334,6.407,19970,friends_s06e24b,156,47657
47657,672.741,6.574,20162,friends_s06e24b,157,47658
47658,679.314,6.807,20359,friends_s06e24b,158,47659

print a description of data set to get a preview

In [4]:
print(df_scenes.describe())

              onset      duration   onset_frame  scene_number  \
count  47659.000000  47659.000000  47659.000000  47659.000000
mean     339.900579      4.188695  10177.691727     85.960574
std      205.274240      3.620343   6145.618798     51.041465
min        0.000000      0.100000      1.000000      1.000000
25%      159.668000      1.902000   4782.000000     42.000000
50%      334.051000      3.137000  10004.000000     84.000000
75%      514.627500      5.239000  15414.000000    127.000000
max      874.486000    138.879000  26208.000000    240.000000

       global_scene_number
count         47659.000000
mean          23830.000000
std           13758.112576
min               1.000000
25%           11915.500000
50%           23830.000000
75%           35744.500000
max           47659.000000

save your dataframe into a tsv

In [5]:
df_scenes.to_csv("../output/scenes_data.tsv", sep="\t", index=False)