In [8]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../module")
import load

# Combine all data into one dataframe for maxpeak
df_max_peak = load.tsv_to_df("/home/cleode5a7/Desktop/analyses_friends_annotations/friends_annotations/annotation_results/DeepgazeMr", '_maxpeak_coord.tsv')

#import scenes data tsv

In [9]:
#add total frames
df_max_peak['frame'] = df_max_peak.index + 1

# Ensure sorting by episode and global frame (just in case)
df_max_peak = df_max_peak.sort_values(by=["episode", "frame"]).reset_index(drop=True)

# Add episode-relative frame number that resets for each episode
df_max_peak["episode_frame"] = df_max_peak.groupby("episode").cumcount() + 1

In [10]:

# Display the result
print(df_max_peak.describe())

                  h             w             p         frame  episode_frame
count  7.178296e+06  7.178296e+06  7.178296e+06  7.178296e+06   7.178296e+06
mean   1.611584e+02  3.609861e+02  1.639282e+00  3.589148e+06   1.058529e+04
std    4.677533e+01  9.460282e+01  9.633461e-01  2.072196e+06   6.149400e+03
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00   1.000000e+00
25%    1.320000e+02  2.970000e+02  1.000000e+00  1.794575e+06   5.277000e+03
50%    1.520000e+02  3.590000e+02  1.000000e+00  3.589148e+06   1.055500e+04
75%    1.790000e+02  4.250000e+02  2.000000e+00  5.383722e+06   1.583300e+04
max    4.790000e+02  7.000000e+02  1.300000e+01  7.178296e+06   2.680400e+04

In [7]:

print(df_max_peak)

           h    w  p          episode    frame  episode_frame
0        215  359  1  friends_s01e01a        1              1
1        215  359  1  friends_s01e01a        2              2
2        215  359  1  friends_s01e01a        3              3
3        215  359  1  friends_s01e01a        4              4
4        215  359  1  friends_s01e01a        5              5
...      ...  ... ..              ...      ...            ...
7178291  215  359  1  friends_s07e23d  7178292          22976
7178292  215  359  1  friends_s07e23d  7178293          22977
7178293  215  359  1  friends_s07e23d  7178294          22978
7178294  215  359  1  friends_s07e23d  7178295          22979
7178295  215  359  1  friends_s07e23d  7178296          22980

[7178296 rows x 6 columns]

In [13]:
df_max_peak[df_max_peak["episode"] == "friends_s06e24b"]

           h    w  p          episode    frame  episode_frame
6066127  215  359  1  friends_s06e24b  6066128              1
6066128  219  359  1  friends_s06e24b  6066129              2
6066129  231  370  2  friends_s06e24b  6066130              3
6066130  206  397  2  friends_s06e24b  6066131              4
6066131  207  401  2  friends_s06e24b  6066132              5
...      ...  ... ..              ...      ...            ...
6086684  215  359  1  friends_s06e24b  6086685          20558
6086685  215  359  1  friends_s06e24b  6086686          20559
6086686  215  359  1  friends_s06e24b  6086687          20560
6086687  215  359  1  friends_s06e24b  6086688          20561
6086688  215  359  1  friends_s06e24b  6086689          20562

[20562 rows x 6 columns]

In [12]:
df_max_peak.to_csv("../output/max_peak_data.tsv", sep="\t", index=False)

In [13]:
min_value = df_max_peak['h'].idxmin()

In [14]:
min_value

99708

In [15]:
min_row = df_max_peak.loc[99708]

In [16]:
min_row

h                              0
w                            189
p                              3
episode          friends_s01e03a
frame                      99709
episode_frame               3872
Name: 99708, dtype: object

In [18]:
df_max_peak.dtypes

h                 int64
w                 int64
p                 int64
episode          object
frame             int64
episode_frame     int64
dtype: object