# Data preprocessing for max peak dayaset

import libraries

In [1]:
import numpy as np
import pandas as pd
import friends_pack

convert data into a pandas dataframe

In [2]:
df_max_peak = friends_pack.tsv_to_df("../friends_annotations/annotation_results/DeepgazeMr", '_maxpeak_coord.tsv')

add rows for analyses

In [3]:
#add total frames
df_max_peak['frame'] = df_max_peak.index + 1

# Add episode-relative frame number that resets for each episode
df_max_peak["episode_frame"] = df_max_peak.groupby("episode").cumcount() + 1

In [4]:

df_max_peak

           h    w  p          episode    frame  episode_frame
0        215  359  1  friends_s01e01a        1              1
1        215  359  1  friends_s01e01a        2              2
2        215  359  1  friends_s01e01a        3              3
3        215  359  1  friends_s01e01a        4              4
4        215  359  1  friends_s01e01a        5              5
...      ...  ... ..              ...      ...            ...
7178291  215  359  1  friends_s07e23d  7178292          22976
7178292  215  359  1  friends_s07e23d  7178293          22977
7178293  215  359  1  friends_s07e23d  7178294          22978
7178294  215  359  1  friends_s07e23d  7178295          22979
7178295  215  359  1  friends_s07e23d  7178296          22980

[7178296 rows x 6 columns]

get some description of the data

In [5]:

# Display the result
print(df_max_peak.describe())

                  h             w             p         frame  episode_frame
count  7.178296e+06  7.178296e+06  7.178296e+06  7.178296e+06   7.178296e+06
mean   1.611584e+02  3.609861e+02  1.639282e+00  3.589148e+06   1.058529e+04
std    4.677533e+01  9.460282e+01  9.633461e-01  2.072196e+06   6.149400e+03
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00   1.000000e+00
25%    1.320000e+02  2.970000e+02  1.000000e+00  1.794575e+06   5.277000e+03
50%    1.520000e+02  3.590000e+02  1.000000e+00  3.589148e+06   1.055500e+04
75%    1.790000e+02  4.250000e+02  2.000000e+00  5.383722e+06   1.583300e+04
max    4.790000e+02  7.000000e+02  1.300000e+01  7.178296e+06   2.680400e+04

save your dataframe into a tsv file

In [6]:
df_max_peak.to_csv("../output/max_peak_data.tsv", sep="\t", index=False)