In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from glob import glob

In [34]:
path = "/mnt/c/Temp/analyses_friends_annotations/friends_annotations/annotation_results/manual_segmentation"
all_data=[]
tsv_files = glob(os.path.join(path,'**','*.tsv'), recursive = True)

In [35]:
for file in tsv_files:
    df=pd.read_csv(file, sep= '\t')
    all_data.append(df)

In [43]:
df_manual_seg = pd.concat(all_data, ignore_index=True)
df_manual_seg['global_segment'] = df_manual_seg.index + 1
df_manual_seg["episode_full"] = df_manual_seg["episode"].str[:-1]

In [48]:
col_loc = [c for c in df_manual_seg.columns if 'loc_' in c]
col_loc

['loc_apt1_Mon_Rach',
 'loc_apt2_Chan_Joey',
 'loc_apt3_Ross',
 'loc_apt4_Pheob_Rach',
 'loc_coffeeshop',
 'loc_outside',
 'loc_other']

In [49]:
df_manual_seg[col_loc]

,loc_apt1_Mon_Rach,loc_apt2_Chan_Joey,loc_apt3_Ross,loc_apt4_Pheob_Rach,loc_coffeeshop,loc_outside,loc_other
0,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False
2,False,False,False,False,True,False,False
3,False,False,False,False,True,False,False
4,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...
6218,True,False,False,False,False,False,False
6219,True,False,False,False,False,False,False
6220,True,False,False,False,False,False,False
6221,True,False,False,False,False,False,False
6222,True,False,False,False,False,False,False

In [45]:
df_manual_seg.to_csv("manual_segmentation_all.tsv", sep="\t", index=False)